t_storeDB/
venv/
learning_tkinter/learning_5.py
learning_tkinter/learning_6.py
pycharm_work/
#

.DS_Store
chromedriver
mysql_206
teste.py
icon_1.ico
tkinterfront.spec

# Byte-compiled / optimized / DLL files
__pycache__/